<!-- app/templates/forgot_password.html -->
{% extends "base.html" %}
{% block content %}
{# Aplicada clase de contenedor y clases de margen #}
<div class="card form-container-medium mt-2 mb-2">
  <h2>Recuperar Contraseña</h2>

  <!-- Formulario que hace POST a /auth/forgot_password -->
  <form method="POST" action="{{ url_for('auth_bp.forgot_password') }}">
    <!-- Campo oculto para el token CSRF (SeaSurf) -->
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

    <!-- Campo para usuario/correo (WTForms o input normal) -->
    {# Aplicada clase margen #}
    <div class="mb-1">
      <label for="user_input">Usuario o Correo:</label><br>
      {{ form.user_input(size=40) }}
    </div>

    <!-- Botón Enviar -->
    <button type="submit" class="btn btn-red">Recuperar Contraseña</button>

    <!-- Botón Volver al login (Refactorizado) -->
    <button 
      type="button"
      id="btnVolverLoginForgot"
      class="btn-blue ml-1"
      data-url="{{ url_for('auth_bp.login') }}"
      >
      Volver
    </button>
  </form>

  {% if form.errors %}
    {# Aplicada clase de errores #}
    <ul class="form-errors">
      {% for field, errors in form.errors.items() %}
        <li>{{ field }}:
          <ul>
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}
