<!-- app/templates/reset_password.html -->
{% extends "base.html" %}

{% block content %}
<div class="card form-container-medium">
  <h2>Recuperar Contraseña</h2>

  <form method="POST" action="{{ url_for('auth_bp.reset_password', token=token) }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

    <label>Nueva Contraseña:</label>
    <input
      type="password"
      name="new_password"
      required
      class="form-input-block"
    >

    <label>Repite la Contraseña:</label>
    <input
      type="password"
      name="confirm_password"
      required
      class="form-input-block"
    >

    <button type="submit" class="btn-green">Cambiar Contraseña</button>
  </form>
</div>
{% endblock %}
